<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>

	<body>
					<!-- Plotly chart will be drawn inside this DIV -->
			<div id="similarityMap"></div>
			    <!--select features-->
    <div>

    <form action="{{url_for('similarity_analysis_view.similarity_analysis_all')}}" method="POST">
        <label>Please choose year and country: </label>
      	  <select name="year" id="year">
	          <option value='{{year}}' selected>{{year}}</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>

	      </select>
	      <select name="country" id="country">
	        <option value='{{country_input}}' selected>{{country_input}}</option>
	        {% for country in countries %}
	        	<option value="{{country}}">{{country}}</option>
	        {% endfor %}
	      </select>
    	  <button type="submit" class="btn btn-primary btn-sm">Find similarity</button>

    </form>
    <!--select features-->
	</body>

	<script>
		var requestURL = 'http://127.0.0.1:1233/api/similarity/all?country={{country_input}}&year={{year}}';
		var request = new XMLHttpRequest();
		request.open('GET', requestURL);
		request.responseType = 'json';
		request.send();
		request.onload = function() {
	  	var similarity = request.response;

	  	populateMap(similarity);
		}

		function populateMap(similarity){
				var data = [{
					type: 'choropleth',
					locationmode: 'country names',
					locations: Object.keys(similarity.Countries),
					z: Object.values(similarity.Countries),
					text: Object.keys(similarity.Countries),
					autocolorscale: true
				}];

				var layout = {
						title: 'Similarites between countries (based on Happiness and Pollution)',
						geo: {
							projection: {
								type: 'robinson'
							}
						}
				};
				
				Plotly.plot(similarityMap, data, layout, {showLink: true});
			}


	</script>
</html>

				