{% extends "happiness_ranking.html" %}
{% block head %}
{{super()}}
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Life Evaluations Worldwide.</h1>
          <p>Rock'n Roll presents the World Happiness Report data together with global PM2.5 Air Pollution figures.<br/>
          Scroll down to see the worldwide happiness ranking, or simply try any analysis | comparison you are interested in.</p>
          <p><a class="btn btn-primary" href="#happiness_ranking" role="button">See Happiness Ranking</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4>Correlation Analysis</h4>
            <p>Draw scatter plot between two features from the dataset to analyse their correlations.</p>
            <p><a class="btn btn-primary" href="{{url_for('correlation_analysis.analyse_pm_happy')}}" role="button">Try It &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h4>Similar Country Searching</h4>
            <p>Calculate cosine similarity between countries based on world happiness and pollution, and show the result on a map.</p>
            <p><a class="btn btn-primary" href="#" role="button">Try It &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h4>Two-Country Comparison</h4>
            <p>Your introduction.</p>
            <p><a class="btn btn-primary" href="#" role="button">Try It &raquo;</a></p>
          </div>
        </div>
        <hr>
    </div>
<!-- google chart -->
    <div id="chart_div" style="width: 900px; height: 500px;"></div>

    <div><p>Pearson Correlation Coefficient: {{ pr|round(2) }}</p>
    <p>P_Value: {{ p|round(5) }}</p></div>
    <!--select features-->
    <div>
    <form action="{{url_for('correlation_analysis.analyse_pm_happy')}}" method="POST">
        <label>Please choose year and features: </label>
          <select name="year" id="year">
            <option value='{{year}}' selected>{{year}}</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>

        </select>

          <select name="pm_happy_feature1" id="pm_happy_feature1">
          <option value='{{cols[1]}}' selected>{{cols[1]}}</option>
          {% for feature in features %}

            <option value="{{feature}}">{{feature}}</option>
          {% endfor %}

        </select>
        <select name="pm_happy_feature2" id="pm_happy_feature2">
          <option value='{{cols[2]}}' selected>{{cols[2]}}</option>
          {% for feature in features %}

            <option value="{{feature}}">{{feature}}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary btn-sm">Compare</button>

    </form>
    <!--select features-->
    </div>
  <!-- google chart -->
{% endblock %}


{% block individual_script %}
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['{{ cols[1] }}', '{{ cols[2] }}'],
            {% for record in data %}

          [ {v: {{ record[1] }}, f:'{{record[0]}}' }, {{ record[2] }}],
            {% endfor %}
        ]);

        var options = {
          title: '{{year}} {{ cols[1] }} vs. {{ cols[2] }} comparison',
          hAxis: {title: '{{ cols[1] }}', minValue: 0},
          vAxis: {title: '{{ cols[2] }}', minValue: 0},
          legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
{% endblock %}