<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}<title>Happiness Ranking</title>{% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/happiness_ranking.css')}}">
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand text-warning" href='/'>Rock'n Roll</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Must reset the active class for nav-items in javascript on page loading if not home page. -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
        {% block navbar_rank %}
          <li class="nav-item active" id="nav_item_happy">
            <a class="nav-link" href="/#happiness_ranking">Happiness Ranking</a>
          </li>
          {% endblock %}
          {% block navbar_cor %}
          <li class="nav-item" id="nav_item_correlation">
            <a class="nav-link" href="{{url_for('correlation_analysis.analyse_pm_happy')}}">Correlation Analysis</a>
          </li>
          {% endblock %}
          <li class="nav-item" id="nav_item_similar">
            <a class="nav-link" href="#">Similar Country Searching</a>
          </li>
          <li class="nav-item" id="nav_item_comparison">
            <a class="nav-link" href="#">Two-Country Comparison</a>
          </li>
        </ul>
      </div>
    </nav>
    {% endblock %}
    {% block content %}
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Life Evaluations Worldwide.</h1>
          <p>Rock'n Roll presents the World Happiness Report data together with global PM2.5 Air Pollution figures.<br/>
          Scroll down to see the worldwide happiness ranking, or simply try any analysis | comparison you are interested in.</p>
          <p><a class="btn btn-primary" href="#happiness_ranking" role="button">See Happiness Ranking</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4>Correlation Analysis</h4>
            <p>Draw scatter plot between two features from the dataset to analyse their correlations.</p>
            <p><a class="btn btn-primary" href="#" role="button">Try It &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h4>Similar Country Searching</h4>
            <p>Calculate cosine similarity between countries based on world happiness and pollution, and show the result on a map.</p>
            <p><a class="btn btn-primary" href="#" role="button">Try It &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h4>Two-Country Comparison</h4>
            <p>Your introduction.</p>
            <p><a class="btn btn-primary" href="#" role="button">Try It &raquo;</a></p>
          </div>
        </div>
        <hr>
    </div>

    <div class="container" id="happiness_ranking">
        <h1 class="text-info">World Happiness Ranking</h1>
        <p>The happiness scores are based on nationally representative samples, which contain answers to the main life evaluation questions asked in the Gallup World Poll.
            The values of the six factors - GDP, Life Expectancy, Generosity, Social Support, Freedom, and Corruption - represent the extent to which each of them contributes to a country's happiness score.</p>
        <p>The PM2.5 figure is a country's mean annual exposure (micrograms per cubic meter) to the air pollution.</p>
        <p>These information together shows how people's feeling about their life might correlate with certain social and political factors, as well as the often-ignored environmental costs.</p>
        <ul class="nav nav-pills">
          <li class="nav-item dropdown mr-md-2 mb-1">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Year</button>
            <div class="dropdown-menu">
              <button class="dropdown-item dropdown_year" id="dropdown_year_2015" value="2015" type="button">2015</button>
              <button class="dropdown-item dropdown_year" id="dropdown_year_2016" value="2016" type="button">2016</button>
            </div>
          </li>
          <li class="nav-item dropdown mr-md-2 mb-1">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By</button>
            <div class="dropdown-menu">
              <button class="dropdown-item dropdown_sort" id="dropdown_sort_country" value="Country" type="button">Country</button>
              <button class="dropdown-item dropdown_sort" id="dropdown_sort_happiness" value="Happiness Rank" type="button">Happiness Rank</button>
              <button class="dropdown-item dropdown_sort" id="dropdown_sort_gdp" value="Economy GDP per Capita" type="button">GDP</button>
              <button class="dropdown-item dropdown_sort" id="dropdown_sort_family" value="Family" type="button">Social Support</button>
              <button class="dropdown-item dropdown_sort" id="dropdown_sort_health" value="Health Life Expectancy" type="button">Health</button>
              <button class="dropdown-item dropdown_sort" id="dropdown_sort_freedom" value="Freedom" type="button">Freedom</button>
              <button class="dropdown-item dropdown_sort" id="dropdown_sort_corruption" value="Trust Government Corruption" type="button">Corruption</button>
              <button class="dropdown-item dropdown_sort" id="dropdown_sort_generosity" value="Generosity" type="button">Generosity</button>
              <button class="dropdown-item dropdown_sort" id="dropdown_sort_pollution" value="PM2.5 Air Pollution" type="button">PM2.5 Pollution</button>
            </div>
          </li>
          <li class="nav-item dropdown mb-1">
            <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdown_ascend_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ascending</button>
            <div class="dropdown-menu">
              <button class="dropdown-item dropdown_ascend" id="dropdown_ascend_ascending" value="1" type="button">Ascending</button>
              <button class="dropdown-item dropdown_ascend" id="dropdown_ascend_descending" value="0" type="button">Descending</button>
            </div>
          </li>
        </ul>
        <div class="table-responsive-lg">
            <table class="table table-hover" id="happy_table">
              <thead class="thead-dark" id="happy_table_head">
                <tr>
                  <th scope="col">Country</th>
                  <th scope="col">Happiness Rank</th>
                  <th scope="col">Happiness Score</th>
                  <th scope="col">GDP</th>
                  <th scope="col">Social Support</th>
                  <th scope="col">Health</th>
                  <th scope="col">Freedom</th>
                  <th scope="col">Corruption</th>
                  <th scope="col">Generosity</th>
                  <th scope="col">PM2.5 Pollution</th>
                </tr>
              </thead>
              <tbody id="happiness_table_body"></tbody>
            </table>
        </div>
    </div>
    {% endblock %}
    {% block footer %}
    <footer class="container">
        <hr>
        <br>
        <br>
        <p>&copy; Rock'n Roll 2018</p>
    </footer>
    {% endblock %}
    {% block script %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        {% block individual_script %}
        <script src="{{url_for('static', filename='script/happiness_ranking.js')}}"></script>
        {% endblock %}
    {% endblock %}
</body>
</html>